
$goeast-red: rgb(187, 53, 53)
$goeast-grey: rgb(53, 53, 53)
$phone-width: 740px

.modal-overlay
    position: absolute
    background: fade-out(white, 0.15)
    top: 0
    left: 0
    right: 0
    bottom: 0
    display: flex
    justify-content: center
    align-items: center
    opacity: 0
    transition: all 300ms ease-in-out
    pointer-events: none

    .modal
        box-sizing: border-box
        padding: 30px 50px
        background: $goeast-red
        width: 100%
        max-width: 1000px
        box-shadow: 3px 3px $goeast-grey
        display: flex
        flex-direction: column
        align-items: flex-start
        position: relative

        img.scheduler-logo
            width: 80%
            padding-bottom: 15px
            max-width: 400px
            align-items: center

        button.modal-close
            border: none
            background: $goeast-red
            position: absolute
            right: 30px

        @media only screen and (max-width: $phone-width)
            padding: 20px 0
            height: 100vh


    &.shown
        opacity: 1
        pointer-events: auto
