@import 'base'

.modal-overlay
    position: absolute
    background: fade-out(red, 0.15)
    top: 0
    left: 0
    right: 0
    bottom: 0
    display: flex
    justify-content: center
    align-items: center
    opacity: 0
    transition: all 300ms ease-in-out
    pointer-events: none

    &.shown
        opacity: 1
        pointer-events: auto
